DATABASE_URL = your_api_key
GROQ_API_KEY=your_api_key
OPENWEATHER_API_KEY=your_api_key
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT=your_api_key
LANGSMITH_API_KEY= your_api_key
LANGSMITH_PROJECT="TripMate_AI"
TAVILY_API_KEY= your_api_key
AVIATTIONSATCK_API_KEY= your_api_key
DEFAULT_ORIGIN_IATA="INDIA"